:root {
    --text-stroke-shadow: 0px 1px 1px #fff, 0px -1px 1px #fff, 1px 0px 1px #fff, -1px 0px 1px #fff
}

#fixed-right {
    z-index: 999;
}

.font-outline-2 {
    text-shadow: var(--text-stroke-shadow)
}